/*APLICANDO SASS*/
@import "tipografia";
@import "colores";
@import "footer";
@import "estilos";
@import "medias";

/*APLICANDO BOOTSTRAP*/
.tabla {
    margin-top: 30px;
    margin-bottom: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 70%;
    margin-left: 15%;
    border-color: $color-primario;
    border-style: $estilo-borde;

}
.table {
    font-size: medium;
    color: $color-primario;
}
.container-fluid {
    background-color: $background

}
.navbar-brand {
    width: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px;
    border-radius: 50%;

        &:hover {
         box-shadow: 0 0 10px $color-fondo;
        width: 200px;
    }
}

.nav-item {
    color: $color-primario;
    font-family: $fuente-principal;
    font-size: large;
}

.formulario {
    width: 300px;
    border-radius: 40px;
    background-image: linear-gradient($color-fondo,rgb(207, 248, 228));
    padding: 20px;
    border-color: rgb(3, 173, 91);
    border-style: solid;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
/* index */

.container {
    width: 100%;
    margin: auto;
    display: grid;

    /*posicion de las areas */

    grid-template-areas:
    "header"
    "container"
    "footer_container";
}
/* Nombrar areas */
header {
    grid-area: header;
}

.container {
    grid-area: container;
}

.footer_container {
    grid-area: footer;
}

/* nav */

body {
    background-color: white;
    margin: 0;
    padding: 0%;
    width: 100%;
}
.suculentas {
    color: $color-primario;
    font-size: medium;
    float: left;
    text-align: left;
    font-family: $fuente-principal;
    font-size: 16px;
    margin-bottom: 5px;
}

.cactus {
    color: $color-primario;
    font-size: medium;
    float: left;
    text-align: left;
    font-family: $fuente-principal;
    font-size: 16px;
    margin-bottom: 25px;
}

.imgChica {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px;
    cursor: pointer;

}

.titulo {
    color: $color-primario;
    font-family: $fuente-titulo;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.tipos {
    justify-items: flex-start;
    text-align: left;
    margin: 10px;
}

h2 {
    color: $color-primario; 
    font-family: $fuente-titulo;
    text-decoration: solid;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 30px;
}


/* sobre nosotros*/

.container-sobrenosotros {
    margin-left: 20px;
    margin-right: 20px;
}

.historia {
    font-family: $fuente-principal;
    color: $color-primario;
    display: flex;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}

.ejemplos {
    font-family: $fuente-titulo;
    color: $color-primario;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
    animation-duration: 1.5s;
  animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: auto;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.echeveriaCurls {
    width: 250px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0px 10px 15px;
    cursor: pointer;
}
.ceropegia {
    @extend .echeveriaCurls;
}
.sansevieria {
    @extend .echeveriaCurls;
}

    /*galeria*/

.nombre {
    font-family: $fuente-principal;
    font-weight: bold;
    text-align: center;
    font-size: medium;
    color: $color-primario;
}

.imagenes {
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 10px 15px;
    cursor: pointer;
    
}

.imagenes:hover, .echeveriaCurls:hover, 
.ceropegia:hover, .sansevieria:hover {
    filter: opacity(.5);
}
    /*precios*/
td {
    font-size: small;
    color: $color-primario;
    font-family: $fuente-principal;
}

.mensaje {
    font-family: $fuente-principal;
    text-align: center;
    font-weight: normal;
    margin-left: 60px;
    margin-right: 60px;
    color: $color-primario;
    margin-bottom: 50px;
}
    /*contacto*/
 
.mapa {
    margin-top: 30px;
    margin-bottom: 30px;
}
label {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: medium;
}

input {
    border-radius: 5px;
    border: 1px solid;
}
.boton {
   margin-left: 20px;
   margin-top: 20px;
   padding: 7px 20px;
   border-radius: 40px;
   background-color: $color-fondo;
   color: $color-primario;
   border: solid 1px;

}
.boton:hover {
    cursor: pointer;
    transition: all .2s;
    text-decoration: wavy;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

